<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>label</key>
		<string>FakeClockUp</string>
		<key>icon</key>
		<string>FakeClockUp.png</string>
	</dict>
	<key>title</key>
	<string>FakeClockUp</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>jp.novi.FakeClockUp.SettingsChanged</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>jp.novi.FakeClockUp</string>
			<key>default</key>
			<string>1</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>duration</string>
			<key>label</key>
			<string>Duration</string>
		</dict>
	</array>
</dict>
</plist>
