<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>icon</key>
		<string>FakeClockUp.png</string>
		<key>label</key>
		<string>FakeClockUp</string>
	</dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Exempt Applications</string>
			<key>footerText</key>
			<string>If switched the "Exempt SpringBoard", needs respring for activate.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>jp.novi.FakeClockUp</string>
			<key>key</key>
			<string>Exempt-com.apple.springboard</string>
			<key>PostNotification</key>
			<string>jp.novi.FakeClockUp.preferencechanged</string>
			<key>label</key>
			<string>Exempt SpringBoard</string>
		</dict>
		<dict>
			<key>bundle</key>
			<string>AppList</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Exempt Applications</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/jp.novi.FakeClockUp.plist</string>
			<key>ALSettingsKeyPrefix</key>
			<string>Exempt-</string>
			<key>ALChangeNotification</key>
			<string>jp.novi.FakeClockUp.preferencechanged</string>
			<key>PostNotification</key>
			<string>jp.novi.FakeClockUp.preferencechanged</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>title</key>
					<string>System Applications</string>
					<key>predicate</key>
					<string>(bundleIdentifier != "com.saurik.Cydia") and (bundleIdentifier != "eu.heinelt.ifile") and (isSystemApplication = TRUE)</string>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
				</dict>
				<dict>
					<key>title</key>
					<string>User Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>0.4</string>
			<key>defaults</key>
			<string>jp.novi.FakeClockUp</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>duration</string>
			<key>label</key>
			<string>Animation Speed</string>
			<key>PostNotification</key>
			<string>jp.novi.FakeClockUp.preferencechanged</string>
			<key>validTitles</key>
			<array>
				<string>x10.0</string>
				<string>x 5.0</string>
				<string>x 3.3</string>
				<string>x 2.5</string>
				<string>x 2.0</string>
				<string>x 1.6</string>
				<string>x 1.4</string>
				<string>x 1.2</string>
				<string>x 1.1</string>
				<string>x 1.0</string>
				<string>x 1/2</string>
				<string>x 1/3</string>
				<string>x 1/4</string>
				<string>x 1/5</string>
				<string>x 1/6</string>
				<string>x 1/7</string>
				<string>x 1/8</string>
				<string>x 1/9</string>
				<string>x 1/10</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>2.0</string>
				<string>3.0</string>
				<string>4.0</string>
				<string>5.0</string>
				<string>6.0</string>
				<string>7.0</string>
				<string>8.0</string>
				<string>9.0</string>
				<string>10.0</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>jp.novi.FakeClockUp</string>
			<key>key</key>
			<string>disableOnEdit</string>
			<key>PostNotification</key>
			<string>jp.novi.FakeClockUp.preferencechanged</string>
			<key>label</key>
			<string>Disable while editing home screen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Spring Animation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>1.0</string>
			<key>defaults</key>
			<string>jp.novi.FakeClockUp</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>durationMultiSpring</string>
			<key>label</key>
			<string>Duration</string>
			<key>PostNotification</key>
			<string>jp.novi.FakeClockUp.preferencechanged</string>
			<key>validTitles</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.4</string>
				<string>1.8</string>
				<string>2.2</string>
				<string>2.8</string>
				<string>3.6</string>
				<string>4.8</string>
				<string>6.4</string>
				<string>7.2</string>
				<string>8.6</string>
				<string>10.0</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.4</string>
				<string>1.8</string>
				<string>2.2</string>
				<string>2.8</string>
				<string>3.6</string>
				<string>4.8</string>
				<string>6.4</string>
				<string>7.2</string>
				<string>8.6</string>
				<string>10.0</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>1.0</string>
			<key>defaults</key>
			<string>jp.novi.FakeClockUp</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>velocityMultiSpring</string>
			<key>label</key>
			<string>Velocity</string>
			<key>PostNotification</key>
			<string>jp.novi.FakeClockUp.preferencechanged</string>
			<key>validTitles</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.4</string>
				<string>1.8</string>
				<string>2.2</string>
				<string>2.8</string>
				<string>3.6</string>
				<string>4.8</string>
				<string>6.4</string>
				<string>7.2</string>
				<string>8.6</string>
				<string>10.0</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.4</string>
				<string>1.8</string>
				<string>2.2</string>
				<string>2.8</string>
				<string>3.6</string>
				<string>4.8</string>
				<string>6.4</string>
				<string>7.2</string>
				<string>8.6</string>
				<string>10.0</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>1.8</string>
			<key>defaults</key>
			<string>jp.novi.FakeClockUp</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>stiffnessMultiSpring</string>
			<key>label</key>
			<string>Stiffness</string>
			<key>PostNotification</key>
			<string>jp.novi.FakeClockUp.preferencechanged</string>
			<key>validTitles</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.4</string>
				<string>1.8</string>
				<string>2.2</string>
				<string>2.8</string>
				<string>3.6</string>
				<string>4.8</string>
				<string>6.4</string>
				<string>7.2</string>
				<string>8.6</string>
				<string>10.0</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.4</string>
				<string>1.8</string>
				<string>2.2</string>
				<string>2.8</string>
				<string>3.6</string>
				<string>4.8</string>
				<string>6.4</string>
				<string>7.2</string>
				<string>8.6</string>
				<string>10.0</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>0.5</string>
			<key>defaults</key>
			<string>jp.novi.FakeClockUp</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>massMultiSpring</string>
			<key>label</key>
			<string>Mass</string>
			<key>PostNotification</key>
			<string>jp.novi.FakeClockUp.preferencechanged</string>
			<key>validTitles</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.4</string>
				<string>1.8</string>
				<string>2.2</string>
				<string>2.8</string>
				<string>3.6</string>
				<string>4.8</string>
				<string>6.4</string>
				<string>7.2</string>
				<string>8.6</string>
				<string>10.0</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.4</string>
				<string>1.8</string>
				<string>2.2</string>
				<string>2.8</string>
				<string>3.6</string>
				<string>4.8</string>
				<string>6.4</string>
				<string>7.2</string>
				<string>8.6</string>
				<string>10.0</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>1.0</string>
			<key>defaults</key>
			<string>jp.novi.FakeClockUp</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>dampingMultiSpring</string>
			<key>label</key>
			<string>Damping</string>
			<key>PostNotification</key>
			<string>jp.novi.FakeClockUp.preferencechanged</string>
			<key>validTitles</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.4</string>
				<string>1.8</string>
				<string>2.2</string>
				<string>2.8</string>
				<string>3.6</string>
				<string>4.8</string>
				<string>6.4</string>
				<string>7.2</string>
				<string>8.6</string>
				<string>10.0</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0.1</string>
				<string>0.2</string>
				<string>0.3</string>
				<string>0.4</string>
				<string>0.5</string>
				<string>0.6</string>
				<string>0.7</string>
				<string>0.8</string>
				<string>0.9</string>
				<string>1.0</string>
				<string>1.1</string>
				<string>1.2</string>
				<string>1.4</string>
				<string>1.8</string>
				<string>2.2</string>
				<string>2.8</string>
				<string>3.6</string>
				<string>4.8</string>
				<string>6.4</string>
				<string>7.2</string>
				<string>8.6</string>
				<string>10.0</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Credit</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>FakeClockUp Ver.0.6</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Written by @novi_</string>
			<key>action</key>
			<string>twitter:</string>
			<key>icon</key>
			<string>Twitter.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>http://about.me/yusukeito</string>
			<key>action</key>
			<string>aboutme:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Special Thanks: @r_plus</string>
			<key>action</key>
			<string>twitter2:</string>
			<key>icon</key>
			<string>Twitter.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
	</array>
	<key>title</key>
	<string>FakeClockUp</string>
</dict>
</plist>
